Django==4.2.7
XlsxWriter==3.2.0
xmltodict==0.13.0
Python==3.12.0


#Run "app.py" in the terminal= http://127.0.0.1:5000/generate_response
#given output =Response generated successfully and find the "resultant_file.xlsx" 


#account.py
#I have created file for Parses XML file account transaction data and filtering and extracting specific transaction.

#api.py
#Created the API file for defining API endpoint and interacting with this account.py

#app.py
#I have created this file for API in Server main entryPoint for contains of Flask application and routes the files

#************
#OutPut: create_response_spreadsheet.xlsx format(transactions)

#Description: 
#This method generates a Excel spreadsheet based on transaction data extracted from a XML file.

#Parameters:
#transactions: A list contains transaction data taken from the XML file.

#Behavior:
# It is creates a spreadsheet named "resultant_file.xlsx" in the current working directory.
# The spreadsheet includes a mention Task as columns for Transaction Type, Vch No., Ref No., Ref Type, Ref Date, Debtor and Particulars, Ref Amount, Amount, and Amount Verified.
# The method handles various transaction types and attributes according to the provided requirements.
# It marks cells with "NA" for attributes that are not applicable.
# Cells may be left blank if values couldn't be found in the input file.



